#create-page,
#edit-page {
    position: relative;
    width: 800px;
    /* height: auto; */
    height: 700px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: #a9d6ce;
    /* background: #a9d6ce; */
    box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
    
}

.create_page ,
.edit_page  {
    
    position: relative;
    width: 800px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: rgb(199, 217, 225);
    /* background: transparent; */
    box-shadow: 0px 0px 32px 0px #325e50, -14px -14px 20px #191c21;
    /* margin: 8em auto; */
    margin: 50px auto;

}


/* input[type="text"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
} */

.inputText {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;    
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
    min-width:20vw;
}



textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
    
}

.btn_submit {
    margin-top: 30px;
    background-color: #3288bd;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.btn_submit:hover {
    color: white;   
    background: #847be4;
}

.containerCreate {
    text-align: center;;
    margin: 4em auto;
    
}

.auth {
    width: 300px;
    margin: 1em auto;
}

.label {
    position: relative;   
        text-align:left;
        font-family: "Agency FB";
        margin-top: 5px;  
        margin-bottom: 0px;   
        font-size:25px; 

}

.create_page > h2,
.edit_page > h2 {
    font-family: "Agency FB";
    font-size:35px; 
    margin-top: 10px;
    margin-bottom: 5px;

}


.containerCreate > h2{    
    font-family: "Agency FB";
    font-size:35px; 
    margin-bottom: 70px;

}

    .heroBg_box {
      background-image: url('/images/create_img.jpg'); /* Replace this with the path to your image */
      /* background-size: cover;   */
      background-position: center; 
      /* height: 300px; */
      display: flex;     
      /* align-items: center;
      justify-content: center; */
    }

    .heroBg_box2 {
        background-image: url('/images/colorful-pastel.webp'); 
        /* background-image: url('/images/create_img.jpg');        */
        background-size: cover; 
        background-position: center; 
        /* height: 300px; */
        display: flex;     
        /* align-items: center;
        justify-content: center; */
      }



