
/* Мой css*/
.detailContainer{
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 500px;
  }

  .buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #229e3f;    
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: rgb(255, 255, 255);
    margin-right: 25px;
    border-radius: 20px;   
   
}

.button:hover {
    background-color:  #5d7f9c;
    color: white;
}

.buttonDelete {
  height: 15%;
  background-color: #327cb9;
  padding: 14px;
  margin-top: auto;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
}

.buttonDelete:hover {
  background-color: #6f5d9c;
  color: white;
}



 