
/* Мой css*/
.logContainer{
  margin-top: 100px;
  margin-bottom: 200px;
}

.btnGreen {
  color: #fff;
  background-color: #1d9a29;
  border-color: #18ac73;
  border-radius: 0.25rem;
  margin-right: 25px;
  padding-block: 5px;
}

.btnOringe {
  color: #fff;
  background-color: #e76828;
  border-color: #ac8a18;
  border-radius: 0.25rem;
  margin-right: 25px;
  padding-block: 5px;
}


.btnGrey {
  color: #fff;
  background-color: #7d7f7d;
  border-color: #343634;
  border-radius: 0.25rem;
  margin-right: 25px;
  padding-block: 5px;
}


.form-error {
    color: #dc3545;
}



