/* Мой css*/
.regContainer{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .btnGreen {
    color: #fff;
    background-color: #1d9a29;
    border-color: #18ac73;
    border-radius: 0.25rem;
    margin-right: 25px;
    padding-block: 5px;
  }
  
  .btnOringe {
    color: #fff;
    background-color: #e76828;
    border-color: #ac8a18;
    border-radius: 0.25rem;
    margin-right: 25px;
    padding-block: 5px;
  }
  
  
  .btnGrey {
    color: #fff;
    background-color: #7d7f7d;
    border-color: #343634;
    border-radius: 0.25rem;
    margin-right: 25px;
    padding-block: 5px;
  }

  .btnBlue {
    color: #fff;
    background-color: #2707c4;
    border-color: #20129b;
    border-radius: 0.25rem;
    margin-right: 25px;
    padding-block: 5px;
  }

  .errorMessage {
    color: red;
    font-size: 0.8em;
    margin: 0 0 10px;
  }

  /* .inputError {
    border: 1px solid red;
} */

.inputError:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.inputError {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: red;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #860510;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



